---

- name: 3. Register system to Red Hat
  ansible.builtin.command: >
    subscription-manager register 
    --username {{ rhsm_username }}
    --password {{ rhsm_password }}
  register: register_output
  changed_when: "'The system has been registered' in register_output.stdout"
  ignore_errors: true

- name: 6. Ensure required packages are installed
  ansible.builtin.package:
    name:
      - podman
      - tar
      - haproxy
      - bind
      - bind-utils 
    state: present

- name: 7. Ensure HAProxy config directory exists
  file:
    path: /etc/haproxy
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: 8. Deploy HAProxy configuration
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: '0644'
  notify: Restart haproxy

- name: 9. Disable SELinux temporarily
  ansible.builtin.command: setenforce 0
  when: ansible_selinux.status == "enabled"

- name: 10. Disable SELinux permanently
  ansible.builtin.lineinfile:
    path: /etc/selinux/config
    regexp: '^SELINUX='
    line: 'SELINUX=disabled'
- name: 11. Ensure HAProxy service is enabled and running
  service:
    name: haproxy
    state: started
    enabled: yes
- name: 12. Firewalld Service 
  service: 
    name: firewalld 
    state: stopped 
    enabled: no 
